@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000000;
}
a{
    text-decoration: none;
}
.serv-link{
    color: #fff;
}

.serv-btns1  {
    padding: 10px 25px;
    background: rgb(215,0,174);
    background: linear-gradient(90deg, rgba(215,0,174,1) 40%, rgba(251,21,103,1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px !important;
  }
.serv-btns2 {
    padding: 10px 25px;
    background: rgb(255,101,0);
    background: linear-gradient(90deg, rgba(255,101,0,1) 40%, rgba(255,199,0,1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px !important;
  }


.serv-btns3  {
    padding: 10px 25px;
    background: rgb(77,235,0);
    background: linear-gradient(90deg, rgba(77,235,0,1) 40%, rgba(1,195,0,1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px !important;
  }
.serv-btns4  {
    padding: 10px 25px;
    background: rgb(114,45,230);
    background: linear-gradient(90deg, rgba(114,45,230,1) 40%, rgba(18,58,174,1) 100%);
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px !important;
  }

.lolp
{
  overflow: hidden;
}

.servsl-head{
   
    position: relative;
}
.servsl-head img{
    /* width: 50%; */
    /* height: 450px; */

 }
 .servsl-head:hover .servsl-overlay{
    display: block;
}
.btn-categ{
    font-size: 20px;
    padding: 20px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    border: none;
    margin-bottom: 20px;
}
.lmk img{
   height:500px;
   margin-top: 20px;
}
.categ-active{
    background-color: black;
    color: white;
}
ul {
    list-style:square;
}
.pinar{
   margin-top: 35px;
   margin-bottom: 30px;
}
.div10{
    height: 200px;
    width: 300px;
    /* background-color: red; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
    background-color: var(--sec);
    color: white;
  
}
.idioy4{
align-items: center;
}
.div11{
    margin-top: 50px;
    height: 200px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--pri);
    color: white;
 
    padding: 25px;
}
.mirrow{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.bul{
    margin-top: 30px;
}
.bul li{
    font-size: 20px;
    line-height: 35px;
}
.btn-categ:hover{
    background-color: black;
    color: white;
}  
.firstlineflex{
    display: flex;
    padding: 30px 0 0 30px;
    margin-top: 20px;
}
.wifit{
    margin-top: 4%;
}
.wifit1{
    margin-top: 4%;
}
.wifit1 p{
  font-size: 20px;
  /* padding-right: 20px; */
}
.wifit p{
   padding-left: 10%;
   /* margin-bottom: 50px; */
font-size: 20px;
margin-top: 20px;
}
.nmk{
    display: flex;
    padding-left: 80px;
}
.lmk1{
    margin-top: 50px;
}
.hkl{
text-align: center;
}
.lmk1 img{
    height: 400px;
}
.bril{
    font-size: 60px;
}

.nmk1{
    display: flex;
}
/* .lmk1 img{
    height: 500px;
} */
.probl li{
    font-size: 20px;
}
.libra{
    height: 10%;
    width:80px;
    margin-top: 15px;
    margin-right: 20px;
    /* color: var(--warning); */
    border: 3px solid rgb(251,21,103);
}
.libra1{
    height: 10%;
    width:80px;
    margin-top: 15px;
    margin-right: 20px;
    /* color: var(--warning); */
    border: 3px solid rgb(255,101,0);
}
.libra2{
    height: 10%;
    width:80px;
    margin-top: 15px;
    margin-right: 20px;
    /* color: var(--warning); */
    border: 3px solid rgb(77,235,0);
}
.libra3{
    height: 10%;
    width:80px;
    margin-top: 15px;
    margin-right: 20px;
    /* color: var(--warning); */
    border: 3px solid rgb(114,45,230);
}
.overall{
    font-family: 'Roboto', "sans-serif";
    margin-top: 40px;
    margin-bottom: 50px;
}
.yellowbreak{
    width: 8%;
    height: 5px;
    background-color: var(--warning);
    margin-top: 25px;
    
}
.coverage img{
  height: 450px;
}
.iconroller{
    height: 30px;
}
.firstheading h1{
    font-size: 40px;
    font-weight: 750;
}
.firstheading{
    margin-left: 20px;
}
.rightboxheadcol{
    align-items: center;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: 14%;
    position: relative;
}

.rightbox{
    height: 60px;
    width: 90%;
    background-color: rgb(242, 242, 242);
    margin-top: 20px;
    font-size:20px;
    display: flex; 
    margin: 0 auto;
}
.rightbox:hover{
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.firstparavalue{
    font-size: 17px;
}

.secondparavalue{
    font-size: 17px;
}
.paraoutdoor{
    padding: 30px 30px 0 30px;
}
.paraoutdoor1{
    padding: 0 30px;
}
.downparasession{
    display: flex;
}
.iconboutique{
    height:30px;
    width: 5%;
    background-color: var(--warning);
    text-align: center;
    border-radius: 5px;
    position: relative;
    list-style: none;
}
.downsession{
 margin: 40px;
}
.clinicpara{
    margin-left: 20px;
}
.rightbox p{
   padding: 10px;
   font-weight: 600;
  
}
.iconindex1{
    margin-left: 35%;
    margin-top: 2%; 
}
.iconindex2{
    margin-left: 1%;
    margin-top: 3%; 
}
.iconindex3{
    margin-left: 37%;
    margin-top: 2%; 
}
.iconindex4{
    margin-left: 51%;
    margin-top: 2%; 
}
.iconindex5{
    margin-left: 22%;
    margin-top: 2%; 
}

@media (width<=1399px){
    .rightbox p{
        font-size: 17px;
    }
    .rightbox{
     height: 5%;
    }
    .iconindex1{
        margin-left: 100px;
    }
    .servsl-head img{
        width: 110%;
        margin-top: 30px;
        
    }
    .iconindex2{
        margin-right: 40px;
        padding: 0;
        margin-top: 20px;
    }
    .iconindex3{
        margin-left: 110px;
    }
    .iconindex4{
        margin-left: 160px;
    }
    .iconindex5{
        margin-left:65px;
    }
    .iconboutique{
        width: 4%;
        height: 25px;
    }
}
@media (width<=1199px){
    .iconindex1{
        margin-left: 50px;
        margin-top: 13px;
    }
    .covera img{
        height: 450px;
    }

    .servsl-head img{
        width: 120%;
        margin-top: 50px;
        height: 300px;
    }
    
    .iconindex2{
        margin-right: 30px;
        padding: 0;
        margin-top: 25px;
    }
    .iconindex3{
        margin-left: 55px;
        margin-top: 20px;
    }
    .iconindex4{
        margin-left: 100px;
        margin-top: 20px;
    }
    .iconindex5{
        margin-left:8px;
        margin-top: 17px;
    }
    .iconboutique{
        width: 6%;
        height: 30px;
    }
    .rightbox p{
        margin-top: 10px;
    }
}
@media (width<=991px){
    .iconindex1{
        margin-left: 8px;
        margin-top: 18px;
    }
    .covera img{
    width: 350px;
        /* border: 3px solid red; */
    }
 .mirrow{
    grid-template-columns: repeat(1,1fr);
 }
 .div11{
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 30px !important;
    height: 200px !important;
 }
 .div10{
    margin-top: 12px;
    height: 200px !important;
    padding: 30px !important;
 }

    
    .piol p{
        font-size: 20px;
      
    }
    .ul{
        line-height: 30px;
        background-color: red;
    }
    .iconindex2{
        margin-right: 18px;
        padding: 0;
        margin-top: 30px;
    }
    .iconindex3{
        margin-left: 20px;
    }
    .iconindex4{
        margin-left: 60px;
    }
    .iconindex5{
        margin-right:20px;
        margin-top: 30px;
    }
    .iconboutique{
        width: 6%;
        height: 30px;
    }
    .firstheading h1{
        font-size: 35px;
    }
    .paraoutdoor p{
        font-size: 15px;
    }
    .yellowbreak{
        width: 12%;
    }
    .iconboutique{
        width: 9%;
        height: 30px;
    }
    .rightboxheadcol{
        margin-top: 20%;
    }
    .rightbox{
        width: 100%;
    }
}
@media (width<=767px){
    .rightbox{
        width: 100%;
    } 
    .covera{
        margin-top: 50px;
        margin-bottom: 10px;

    }
     
    .coved{
        margin-top: 30px;
    }
    .iconindex1{
        margin-left: 200px;
    }
    .nmk{
        margin-top: 30px;
    }
    .iconindex2{
        margin-left: 80px;
        padding: 0;
        margin-top: 18px;
    }
    .idioy4{
        margin-left: 10pxs;
    }
   
    .iconindex3{
        margin-left: 215px;
    }
    .iconindex4{
        margin-left: 270px;
    }
    .iconindex5{
        margin-left: 155px;
        margin-top: 18px;
    } 
    .rightbox p{
        font-size: 20px;
    }
    .rightboxheadcol{
        margin-top:10%;
    }
    .iconboutique{
   width: 30px;
    }
    .rightbox{
        width: 90%;
    }
    .wifit p{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .wifit1 p{
        margin-top: 10px;
        margin-bottom: 15px; 
    }
  
}
@media (width<=500px){
    .iconindex1{
        margin-left: 180px;
    }
    .iconindex2{
        margin-left: 50px;
        padding: 0;
        margin-top: 18px;
    }
    .iconindex3{
        margin-left: 190px;
    }
    .iconindex4{
        margin-left: 240px;
    }
    .iconindex5{
        margin-left: 125px;
        margin-top: 18px;
    }  
}
@media (width<=470px){
    .iconindex1{
        margin-left: 160px;
    }
    .iconindex2{
        margin-left: 28px;
        padding: 0;
        margin-top: 18px;
    }
    .iconindex3{
        margin-left: 170px;
    }
    .iconindex4{
        margin-left: 220px;
    }
    .iconindex5{
        margin-left: 100px;
        margin-top: 18px;
    } 
    .rightbox p{
        font-size: 20px;
    }
}
@media (width<=454px){
    .iconindex1{
        margin-left: 140px;
    }
    .iconindex2{
        margin-left: 12px;
        padding: 0;
        margin-top: 18px;
    }
    .iconindex3{
        margin-left: 150px;
    }
    .iconindex4{
        margin-left: 200px;
    }
    .iconindex5{
        margin-left: 85px;
        margin-top: 18px;
    } 
    .yellowbreak{
        width: 15%;
    }
}

@media (width<=436px){
    .iconindex1{
        margin-left: 130px;
    }
    .iconindex2{
        margin-left: 10px;
        padding: 0;
        margin-top: 18px;
    }
    .iconindex3{
        margin-left: 142px;
    }
    .iconindex4{
        margin-left:190px;
    }
    .iconindex5{
        margin-left: 80px;
        margin-top: 18px;
    } 
    .yellowbreak{
        width: 18%;
    }
    .rightbox p{
        font-size: 18px;
    }
}
@media (width<=403px){
    .iconindex1{
        margin-left: 120px;
    }
    .iconindex2{
        margin-left: 2px;
        padding: 0;
        margin-top: 15px;
    }
    .iconindex3{
        margin-left: 125px;
    }
    .iconindex4{
        margin-left: 175px;
    }
    .iconindex5{
        margin-left: 70px;
        margin-top: 18px;
    } 
}
@media (width<=392px){
    .iconindex1{
        margin-left: 100px;
    }
    .iconindex2{
        margin-right: 28px;
        padding: 0;
        margin-top: 30px;
    }
    .iconindex3{
        margin-left: 115px;
    }
    .iconindex4{
        margin-left: 160px;
    }
    .iconindex5{
        margin-left: 60px;
        margin-top: 18px;
    } 
}
@media (width<=392px){
    .iconindex1{
        margin-left: 90px;
    }
    
    .iconindex2{
        margin-right: 50px;
        padding: 0;
        margin-top: 30px;
    }
    .iconindex3{
        margin-left: 100px;
    }
    .iconindex4{
        margin-left: 140px;
    }
    .iconindex5{
        margin-left:40px;
        margin-top: 18px;
    } 
}
@media (width<=380px){
    .iconindex1{
        margin-left: 80px;
    }
    
    .iconindex2{
        margin-right: 15%;
        padding: 0;
        margin-top: 10%;
    }
    .iconindex3{
        margin-left: 25%;
    }
    .iconindex4{
        margin-left: 40%;
    }
    .iconindex5{
        margin-left:8%;
        margin-top: 18px;
    } 
}
.probl{
    margin-top: 20px;
}


    .fullparaview {
        height: 300px;
        background-image: url("/public/images/killer.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .mainvaluepreview{
        font-size: clamp(18px, 1.2vw, 22px);
        font-weight: 500;
        font-size: 60px;
      }
.opaque{
    opacity: 0.5;
}
.opaque1{
    opacity: 1;
}
.olk{
    text-align: center;
}
.popp{
   text-align: center;
}
.butks{
    background-color: var(--pri);
    /* width: 100%;   */
    font-size: 20px;
    justify-content: space-evenly;
    margin-top: 20px; 
}
/* .butk{
    display: flex;
    justify-content: center;
} */
.butks:hover{
    background-color: var(--sec );
}
.butk-icons{
    margin-right: 5px;
}
.centeralised{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: var(--warning);
}
.lmk2 img{
    height: 480px;
}
ul li{
   list-style: var(--sec);
}

@media (width<=1399px){
   .wifit p{
    padding-left: 120px;
   } 
   .nmk{
    padding-left:120px ;
   }
   .div10{
    width: 95%;
    padding: 10px;
   }
   .div11{
    width: 95%;
    padding: 10px;
   }
}
@media (width<=1199px){
    .wifit {
    padding-left: 90px;
    }
    .wifit p{
        margin-top:6px;
    }
    .lmk img{
        margin-top: 30%;
    }
    .lmk1 img{
        height: 280px;
    }
    .div10{
        height: 250px;
        margin-bottom: 30px;
        padding: 12px;
   
    }
    .div11{
        height: 250px;
       
    }
}
@media (width<=991px){
   .lmk img{
    height: 400px;
   }
   .lmk1 img {
    height: 250px;
   }
   .servsl-head img{
    width: 100%;
    height: 400px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
   }
}
.butk a{
color: white;
}

@media (width<=767px){
    .wifit{
        padding: 0;
        margin: 0;
    }
    .coverage img{
        margin-top: 20px !important;
        margin-bottom: 10px;
    }
    
    .wifit p{
        padding-left: 0;
    }
    .nmk{
        padding-left: 0;
    }
    .lmk{
        text-align: center;
    }
    .lmk img{
        margin-top: 0 ;
    
    }
    .lmk2 img{
        margin-top: 0 !important;
        margin-bottom: 30px;
    }
}

@media (width<=620px){
    .servsl-head img{
        width: 80%;
        border: 3px solid red;
    }
}

@media (width<=575px){
    .wifit p{
       padding-left: 30px;
       padding-right: 30px;
        margin: 0;
        font-size: 16px;
        margin-top: 10px;
  
    }
    .klop{
        padding-left: 30px !important;
        padding-right: 30px !important;
   
    }
    .klop h1{
        font-size: 30px;
    }
    .klop li {
        font-size: 16px
    }
   .mirrow{
     margin-left: 30px;
    padding-right: 30px;
   }

    .lmk2 img{
        height: 350px;
    }
    .libra{
        width: 50px;
        margin-right: 5px;
    }
    .wifit1 p{
        font-size: 16px;
    }
    .nmk{
        padding-left: 30px;
    }
    .lmk img{
        height: 300px;
    }
    .probl li{
        font-size: 16px;
    }
    .bril{
        font-size: 35px;
    }
    .wifit1{
        padding-left: 30px;
        padding-right: 30px;
    }

}



.servsl-overlay{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    padding: 10px;
    margin-left: 35px;
    text-align: center;
    display: none;
}

.servicepage-head{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}


.servsl-overlay:hover p{
    color: #ffc000;
}

.service-slider{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    /* gap: 10px; */
}
.serv-sliders img{
 width: 10px;
 height: 50px;
}

.serv-details{
    margin: 0px 30px;
}
.serv-details li{
    margin: 5px 0px;
}
.serv-details1 h3{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.serv-details3 h3{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.serv-details2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.serv-details1,.serv-details3{
    margin: 20px;
}
.servpage-icon{
    font-size: 25px;
    color: #ffc000;
    margin-right: 10px;
}
.serv-details2 span{
    font-size: 20px;
    color: #636363;
}
.serv-details4{
  display: flex;
  flex-direction: column;
  width: 80%;

}
.serv-details4 button{
    background-color: #fff; 
    color: #000;
    border: 1px solid #636363;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.serv-details4 button:hover{
    background-color: #ffc000;
    color: #fff;
    border: none;
}
.serv-btn-icon{
    font-size: 25px;
    margin-right: 15px;
    /* padding-bottom: 10px; */
}
.serv-btn-cont{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:1750px){
    .serv-details4{
        width: 90%;
    }
    .serv-details{
        margin: 20px 50px;
    }
}
@media screen and (max-width:750px){
    .service-slider{
        width: 90vw;
    }
    .serv-sliders img{
        max-width: 50%;
        height: 400px;
       }
       .servsl-head img{
        max-width: 80%;
        height: 400px;
       }
    
    .serv-details{
        margin:0px;
        margin-top: 30px;
    }
    .serv-details4 button{
        padding-left: 15px;
    }
    .serv-btn-icon{
        margin-right: 15px;
    }
    .serv-details2 span{
        font-size: 16px;
    }
   .serv-btn-icon{
       padding-bottom: 10px;
    }
}
@media screen and (min-width:1020px) and (max-width:1400px){
    .serv-sliders img{
        max-width: 98%;
        height: 500px;
    }
}
@media screen and (min-width:750px) and (max-width:1000px){
    .service-slider{
        width: 90vw;
    }
    
    /* .serv-sliders img{
        width: 80%;
        height: 100%;
    } */
}
@media screen and (max-width:750px){
    .service-slider{
        width: 90vw;
    }
    /* .serv-sliders img{
        max-width: 98%;
        height: 400px;
       } */ss
    .servicepage-head{
        grid-template-columns: repeat(1,1fr);
    }
    .serv-details{
        margin:0px;
        margin-top: 30px;
    }
    .serv-details4 button{
        padding-left: 15px;
    }
    .serv-btn-icon{
        margin-right: 15px;
    }
    .serv-details2 span{
        font-size: 16px;
    }
   .serv-btn-icon{
       padding-bottom: 10px;
    }
}

@media screen and (min-width:750px) and (max-width:1000px){
    .service-slider{
        /* width: 90vw; */
    }
    .servicepage-head{
        /* flex-direction: column;
        justify-content: center; */
        grid-template-columns: repeat(1,1fr);
    }
    /* .serv-sliders img{
        width: 80%;
        height: 100%;
    } */
    /* .servsl-head img
    {
        width: 70%;
    } */
}

@media screen and (min-width:340px) and (max-width:500px)
{
    .servsl-head img
    {
        max-width: 400px;
    }
}


@media (max-width: 767px) {
    #column1 {
      order: 1; /* Change the order for column 1 on mobile */
    }

    #column2 {
      order: 2; /* Change the order for column 2 on mobile */
    }
  }

