.main{
    background-color: white;

}
/* .btns{
    padding: 7px 50px;
    background-color: var(--pri);
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
} */
.datesection{
    margin-bottom: 200px;
    color: var(--sec);
}
.entry-date{
    margin-left: 6px;
    margin-top:50px ;
}
.image{
  margin-top: 30px;
  border-radius: 20px;
  
}
.blog-content{
    margin-top: 40px;
    font-size: 18px;
}
.reviewsection{
    border: 1px wheat ;
    display: flex;
    justify-content: center;
    box-shadow:  1px 1px 6px #aaaaaa;
    padding: 20px 2px 2px 2px;
    font-size: 24px;
    font-weight: 340;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}
.fa-quote-left{
    color: var(--pri);
    font-size: 40px;
    padding-left: 40px;
    margin-right: 10px;
}
.review{
    margin-top: 4px;
    margin-right: 110px;
}
.sub-title{
    font-size: 25px;
}
.para{
    font-size: 17px;
}
.outer{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

@media only screen and (max-width: 514px) {
    .blogbutton {
     margin-top: 10px;
    }
    }
  