/* .job img{
    width: 90%;
}
.career{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.job-tilte{
    background-color: red;
} */
/* .cop{
    background: url("/public/images/backg.jpg") no-repeat; */
.car-boxs .car-info{
    display: flex;
    justify-content: center ;
    align-items: center ;
    font-size: 25px;
    margin: 30px 0px ;
    font-weight: 500;
}
.form-img{
    display: flex;
    align-items: center;
}
.prk{
  margin-top: 20px;
}
.prk p{
    font-size: 18px;
}
.form-img img{
    width: 400px;
    height: 400px;
}
.test-job{
 
    width: 100%;     
    margin-top: 50px;
    margin-bottom: 50px;

}
.pq{
    margin-left: 20px;
    font-size: 40px;
}
.hthing{
    font-size: 42px;
    font-weight: 700;
}
.sml{
    height: 6px;
    width: 60px;
    background-color: var(--sec);
    margin-top: 10px;
}
.rcs{
    margin-top: 60px;
    display: flex;
    align-items: center;
   padding: 10px;
}

.job-form label{
    font-size: 18px;
}
.job-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 50px;
    padding-bottom: 30px;
    /* width: 60%; */
}
.form-input{
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
}
.form-input input{
    padding: 10px;
    border-radius: 10px;
    /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.10)); */
    border: 1px solid #dee2e6;
    background-color: #fff;
    /* margin-left: 80px;
    width: 100%; */
}
.form-input select,.form-input textarea{
    padding: 10px;
    border-radius: 10px;
    /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.10)); */
    border: 1px solid #dee2e6;
    background-color: #fff;
    padding: 10px;
    /* margin-left: 80px;
    width: 100%; */
}
.job-form-head{
    text-align: center;
    background-color:rgba(94, 111, 181, 0.8);
    border-radius:10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.job-allhead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* margin: 0px 500px ; */
    /* width: 1000px; */
    /* width: 600px; */
    /* width: 800px; */
    border-radius: 10px;
    /* border-bottom:10px solid var(--sec); */
}
.job-form-head h2{
   padding: 10px;
    color:white;
}
.job-form-head span{
    font-size: 25px;
    color:#fff;
}   
.label-star{
    color: red;
   
    /* margin-inline-start: 5px; */
}
.job-form button{
    font-size: 25px;
    background-color: #5e6fb5;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    /* margin:10px 200px; */
}
.job-form button:hover{
    background-color: #000;
}
.job-btn{
    display: flex;
    /* justify-content: center; */
}

@media screen and (max-width:920px){
    .test-job{
        /* max-width: 500px;      */
    }
    .job-allhead{
        max-width: 100%;  
    }
}
@media screen and (max-width:980px){
    .c-serv-home-sec {
      /* margin: 500px 0px; */
      margin-bottom: 20px;
  }
    .test-job{
        grid-template-columns: repeat(1,1fr);
    }
  }
  @media screen and (max-width:480px){
    .job-allhead{
        min-width: 360px;  
    }
  }
  @media screen and (min-width:300px) and (max-width:480px){
    .job-allhead{
        min-width: 280px;  
    }
    .form-img img{
        max-width: 340px;
        height: 400px;
    }
  }
  @media screen and (min-width:480px) and (max-width:780px){
    .form-img img{
        max-width: 400px;
        height: 550px;
    }
    .form-img {
        justify-content: center;
    }
  }

  .job-form input,
  .job-form select,
  .job-form textarea {    
    background-color: rgba(255, 255, 255, 0.8);

  } 

  @media screen and (min-width: 767px) and (max-width: 991px) {
    .test-job {
        width: 120%;
    }
}