.about1 {
    display: flex;
    align-items: center;
  }
  .smallsss1{
    background-color: var(--warning);
    width: 70px;
    height:5px;
    margin-top: 10px;
  }
  .aboutline_head1{
    padding-left:15px;
    font-size: 40px;
    font-weight: 700;
  }

  .ghj1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10px;
  }
 
.biod{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}
.colspin{
    margin-top: 20px;

}
.prdtname{
    margin-top: 40px;

}
.biod{
    margin-top: 20px;
}
.pol{
    font-size: 20px;
    font-weight: 500;
}
.iml{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;   
}
.iml6{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s; 
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.ghj{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.biots{
    position: relative;
    overflow: hidden;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bioti{
    position: relative;
    overflow: hidden;  
 
}
.plow{
    position: absolute;
    display: flex;
    height: 300px;
    width: 97%;
    background: linear-gradient(90deg, rgba(6, 255, 223, 1) 35%, rgba(0, 66, 255, 1) 100%);
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    top:0;
    transition: all 1s;
}
.bioti:hover {
    .plow{
        opacity: 1;
    }
    .iml6{
        transition: 0.5s;
        
    }
}
.biop{
    font-weight: 900;
    color: black;
}

.biops{
    font-weight: 900;
    font-size: 25px;
    color: #000;
    margin: 0px 6px;
    margin-bottom: 25px;
    opacity: 1;
}
.testplo{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    flex-direction: column;
    font-weight: bold !important;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
}
.testplo .test{
    font-weight: 900;
}
.centraitem{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plo{
    position: absolute;
    display: flex;
    height: 300px;
    width:100%;
    background: linear-gradient(90deg, var(--warning) 85%, black 100%)    ;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    transition: all 1s;
}
.butts {
    background-color: var(--dark);
    width: 55px;
    height: 55px;
    color: var(--warning);
    font-size: 25px;
    font-weight: 900;
    border-radius: 100px;
    border-style: none;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }
  .butts:hover {
    background:  linear-gradient(90deg, var(--warning) 100%, black 100%);
    color: #fff;
    box-shadow: 0px 0px 5px var(--warning), 0px 0px 25px var(--warning), 
                0px 0px 50px  black, 0px 0px 600px  black;
    border: none;
  }
  .portoverbxk{
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(6, 255, 223, 1) 35%, rgba(0, 66, 255, 1) 100%);
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    transition: all 1s;
  }

.biots:hover {
    .plo{
        opacity: .5;
    }
    .testplo{
        opacity: 1;
    }
    .iml{
        transition: 0.5s;
        
    }
}

/* cat start */

.subcategory1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 40px;
    row-gap: 100px;
    margin: 0 auto !important;
    text-align: center !important;
    justify-content: center !important ;
    align-items: center;
    transition: all 0.5s;
    margin-bottom: 100px !important;
}
.subcategoryhead{
    position: relative;
}
.subcategoryhead:hover{
    /* .subcategory2 {
        height: 290px;
        transition: all 0.5s;
        border-radius: 0 0 20px 20px;
    } */
    /* .subcategory2 img{
       width: 300px;
        height: auto;
        border-radius: 10px;
     } */
     /* .subcategory2 img{
        height: 370px !important;  
        border-radius: 0 0 20px 20px;
     } */
    .subcategory3 { 
        top: 25%;
        /* height: 100%; */
        z-index: 2;
        height: 250px;
        transition: all 0.5s;
        padding: 25px 10px;
        background-color: white;
    }
        .pilot{
         display: block;
            transition: all 0.5s;
        }
        .subcategory2{
           /* height: 290px; */
           border-radius: 0 0 20px 20px;
         }
    }

    .subcategory2{
        position: relative;
        height: 300px;
         width: 300px;
         overflow: hidden;
         transition: all 0.5s;
         border-radius: 20px 20px 0 0;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     }
     .subcategory2 img{
        /* max-width: 300px; */
        height: 100%;
        /* object-fit: none; */
     }


     .cat-lap1{
        object-position: -30px;
     }
     .cat-lap2{
        object-position: -70px;
     }
     .cat-lap3{
        object-position: -95px;
     }
     .cat-desk1{
        object-position: -80px;
     }
     .cat-desk2{
        object-position: -27px;
     }
     .cat-desk3{
        object-position: -125px;
     }
     .cat-pri2{
        object-position: -90px;
     }
     .cat-pri1{
        object-position: -50px;
     }
     .cat-pri3{
        object-position: -50px;
     }
     .cat-pri4{
        object-position: -50px;
     }
     .cat-pro1{
        object-position: -160px;
     }
     .cat-ip2{
        object-position: -80px;
     }
     .cat-ups2{
        object-position: -60px;
     }
     .cat-tv2{
        object-position: -75px;
     }
     .cat-acc1{
        object-position: -90px;
     }
     .cat-wifi2{
        object-position: -90px;
     }
     .cat-wifi3{
        object-position: -210px;
     }
     .cat-tv1{
        object-position: -190px;
     }


     .subcategory3{
        height: 50px;
        width: 300px;
         background-color: white;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all 0.5s;
        position: absolute;
        top: 100%;
        padding:10px;
        border-radius: 0 0 20px 20px;
        /* margin-bottom: 100px; */
    }
    .pilot{
        position: relative;
        display: none;
        transition: all 0.5s;
        padding: 10px;
    }
    .warrier{
        background-color: var(--warning);
        color: white;
    }
    .warrier:hover{
        background-color:black;
       
    }

    @media (width<=1199px){
     
        .subcategory1{
            grid-template-columns: repeat(3,1fr);
        }
    }

    @media (width<=991px){
        .subcategory1{
            grid-template-columns: repeat(2,1fr);
            justify-content: center !important;
        } 
    }

    @media (width<=767px){
        .subcategory1{
            grid-template-columns: repeat(1,1fr);
            justify-content: center !important;
         
        }  
        .aboutline_head1{
            font-size: 26px;
        }
        
    
       
    }
    @media (width<=575px){
        .subcategory1{
            row-gap: 30px;
            
        }
        .subcategory1{
            width: 300px;
            margin-right: auto;
            margin-left: auto;
        }
        .subcategoryhead{
            margin-bottom: 100px;
        }
    }
    @media (width<=497px){
        .aboutline_head1{
            font-size: 30px;
        } 
        .subcategory2 img{
            /* max-width: 100%; */
            /* width: 100%; */
         }

         /* .subcategoryhead:hover{
           
            .subcategory2 img{
                max-width: 100%;
                width: 100%;
             }
            } */
          
    }


/* cat end */


@media (width<=1200px){
    .ghj{
        grid-template-columns: repeat(3,1fr);
    }
    .pill{
        padding-right: 20px;
        font-size: 25px;
    }
    .pol{
        font-size: 17px;
    }
}

@media (width<=991px){
    .pill{
        font-size: 22px;
    }
    .pol{
        font-size: 15px;
        margin-top: 0;
    }
    
    .ghj{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (width<=767px){
   .ghj
   {
    grid-template-columns: repeat(1,1fr);
   }
   .biod{
    grid-template-columns: repeat(1,1fr);
   }

   .iml6{
    height: 300px;
    /* width: 80%; */
   }
   .pill{
    padding-right: 0px;
    margin-bottom: 10px;
   }
   .plow{
    width: 96%;
   }
   .iml{
    height: 300px;

   }
   .ghj1{
    grid-template-columns: repeat(1,1fr);
  }
  
 
   .biots{
justify-content: center;
   }
}
@media (width<=400px){
    .plow{
        width: 94%;
       }
}

.imllpg{
    height: 300px;
    border-radius: 10px;
    transition: 0.5s;   
}
.lpgimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-logo{
    margin: 100px 100px;
    
}
@media screen and (width<=600px){
    .l-logo{
        margin: 0px; 
    }
}