@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Kanit:wght@800&family=Lugrasimo&display=swap");

:root {
  --pri: #5e6fb5;
  --sec: #ee6196;
  --sub: #2c46ad;
  --gry: #acacac;
  --lit: #f2f5fa;
  --bgc: #f2f5f6;
  --bgs: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Blinker", sans-serif;
}


.b-title{
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
  margin-bottom: 5px;
}
.b-title .mid-title{
  font-weight: 600;
}
.b-intro{
  height: 130px;
  overflow: hidden;
}

.blogp .mid-title{
  margin-top: 15px;
}
.blogp .hb-tilte{
  display: flex;
  align-items: center;
  height: 70px;
  overflow: hidden;
}
.hb-tilte .mid-title{
  font-weight: 600;
}
.h-btns {
  padding: 10px 15px;
  background-color: var(--pri);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.h-btns:hover {
  background-color: var(--sub);
}

.image1 img{
  height: 650px;
  /* width:100%; */
}
.blogsection .sub-title{
  margin-top: 30px;
}

.btns {
  padding: 10px 25px;
  background-color: var(--pri);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.btns:hover {
  background-color: var(--sub);
}

.main-title {
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 600;
}
.sub-title {
  font-size: clamp(22px, 3vw, 50px);
  font-weight: 500;
}
.mid-title {
  font-size: clamp(18px, 1.2vw, 22px);
  font-weight: 500;
}
.mini-title {
  font-size: clamp(18px, 0.5vw, 23px);
  letter-spacing: 1.8px;
  font-weight: 600;
  text-transform: uppercase;
}
.sm-title {
  font-size: 14px;
  text-transform: uppercase;
}
.normal-title {
  font-size: 20px;
  font-weight: normal;
}
.main-color {
  color: var(--pri);
}
.sec-color {
  color: var(--sec) !important;
}
.top-banner {
  height: 300px;
  background-image: url("/public/images/banner/about-top-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-banner {
  height: 300px;
  background-image: url("/public/images/banner/contact-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  font-weight: bold;
  color: #141414;
}
.links:hover {
  color: var(--pri);
}
.icon-pri {
  color: var(--gry);
  font-size: 20px;
  transition: all 0.3s ease;
}
.icon-pri:hover {
  color: var(--pri);
}
.icon-sec {
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease;
}
.icon-sec:hover {
  color: var(--sec);
}
a {
  text-decoration: none;
}

/* Blog  */
.homeBlogSec {
  padding: 50px 0;
  
}                                 
.blogh{
}
.blogBoxInn {
  box-shadow: 0 0 10px var(--bgs);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  width: 97%;
}
.blogImgBox {
  height: 280px;
  overflow: hidden;
  position: relative;
}
.blogImgBox img {
  /* object-fit: cover; */
  /* height: 100%; */
  width: 100%;
  transition: all 1s;
}
.blogContBox {
  padding: 20px;

  
}
.blogBoxInn:hover .blogImgBox img {
  scale: 1.1;
}




.head-isp-abou-blog {
  text-align: center;
  /* background-image: url("../images/banner/Datas.jpg"); */
  background-repeat: no-repeat;
  color: #fff;

  padding: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dw-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin: 60px 100px; */
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.dw-blogs1 {
  position: relative;
  /* background-image: linear-gradient(linear,left bottom,left top,from(rgba(0,0,0,.35)),color-stop(75%,transparent)) */
}

.dw-blogs1 img {
  /* z-index: 2; */
  width: 100%;
  height: 340px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 10);
}

.dw-blogs1:hover img {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .5); */

  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.dw-blogs2 {
  background-color: #038B1C;
  padding: 5px 20px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px;
}
.dw-blogs {
  /* background-color: #728b03; */
  padding: 5px 20px;
  border-radius: 15px;
  text-transform: uppercase;
  top: 20px;
  right: 20px;
}
.dw-bg {
  position: absolute;
  top: 0;
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, .35), transparent 75%); */
  width: 100%;
  height: 40%;
}

.dw-blogs1:hover .dw-bg {
  background-image: none;
}

.dw-blogs3 {
  background-color: #fff;
}

.dw-blog-title {
  color: #6B6B6B;
  font-size: 20px;
  font-weight: 700;
}

.dw-blog-title:hover {
  color: #038B1C;
  cursor: pointer;
}

.dw-blogs3 {
  width: 100%;
  height: 340px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 20px;

}
.dw-blogs6 {
  width: 100%;
  height: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* .dw-blogs1:hover{
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
} */

.dw-blog-date {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  width: 95%;
  border-top: 1px solid #d6d1d1;
  color: var(--pri);
  padding-top: 5px;
}

.dw-blogs3 p {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px;
  color: #777777;
}

.blog-inn-conse :hover {
  color: var(--ispsec);
}

@media screen and (max-width:760px){
  .image1 img{
    height: auto;
    width:100%;
  }
}
@media screen and (max-width:600px){
  .top-banner {
    height: 150px;
  }
  .contact-banner{
    height: 150px;
  }
}

@media screen and (max-width:980px) {
  .dw-blogs {
      grid-template-columns: repeat(2, 1fr);
  }

  .dw-blogs1 img {
      /* height: 400px; */
  }

  .dw-blogs3 {
      height: 400px;
  }
}

@media screen and (max-width:980px) {
  .dw-blogs {
      grid-template-columns: repeat(1, 1fr);
  }
}

.dw-blogs1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.blog-main-contentss {
  height: 200px;
  overflow: hidden;
  font-weight: 100;

}
.blog-main-contentsss {
  height: 300px;  
   overflow: hidden;
  font-weight: 500;
}
.dwblog-tit{
height: 50px;
}

.blog-inn-conse {
  text-decoration: none !important;
  color: #333;
  font-size: 19px;
  font-weight: bold;

}
.maintitle-blo{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}
.maintitle-con{
  text-align: center;
  font-weight: 500;
}
.buttonge{
  text-align: center;
}
.ro-con-bac{
  padding-top: 20px;
}






.readmore{
  text-decoration: none;
  color: black;
  margin-top: -60px;
}




.homeBloBox{
  box-shadow: none;
}
.btn-blogs{
  padding-top: 20px;
}