@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Kanit:wght@800&family=Lugrasimo&display=swap");

:root {
  --pri: #5e6fb5;
  --sec: #ee6196;
  --sub: #2c46ad;
  --gry: #acacac;
  --lit: #f2f5fa;
  --bgc: #f2f5f6;
  --bgs: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Blinker", sans-serif;
}

.btns {
  padding: 10px 25px;
  background-color: var(--pri);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.btns:hover {
  background-color: var(--sub);
}

.main-title {
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 600;
}
.sub-title {
  font-size: clamp(22px, 3vw, 50px);
  font-weight: 500;
}
.mid-title {
  font-size: clamp(18px, 1.2vw, 22px);
  font-weight: 500;
}
.mini-title {
  font-size: clamp(18px, 0.5vw, 23px);
  letter-spacing: 1.8px;
  font-weight: 600;
  text-transform: uppercase;
}
.sm-title {
  font-size: 14px;
  text-transform: uppercase;
}
.normal-title {
  font-size: 20px;
  font-weight: normal;
}
.main-color {
  color: var(--pri);
}
.sec-color {
  color: var(--sec) !important;
}
.top-banner {
  height: 300px;
  background-image: url("/public/images/banner/about-top-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-banner {
  height: 300px;
  background-image: url("/public/images/banner/contact-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  font-weight: bold;
  color: #141414;
}
.links:hover {
  color: var(--pri);
}
.icon-pri {
  color: var(--gry);
  font-size: 20px;
  transition: all 0.3s ease;
}
.icon-pri:hover {
  color: var(--pri);
}
.icon-sec {
  color: #fff;
  font-size: 20px;
  transition: all 0.5s ease;
}
.icon-sec:hover {
  color: var(--sec);
}
a {
  text-decoration: none;
}

/* Blog  */
.homeBlogSec {
  padding: 50px 0;
}
.blogBoxInn {
  box-shadow: 0 0 10px var(--bgs);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.blogImgBox {
  height: 350px;
  overflow: hidden;
}
.blogImgBox img {
  object-fit: cover;
  height: 100%;
  transition: all 1s;
}
.blogContBox {
  padding: 20px;
}
.blogBoxInn:hover .blogImgBox img {
  scale: 1.1;
}
