
.contactpara {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 0px;
     
}
.location{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 110px;
}
.locacon{
    margin-left: 140px;
}
.main{
  background-color: #f2f5f6;
  padding: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-details {
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .form-group{
    padding: 20px;
  }
  .infymap{
    width: 100%;
    height:500px;
    border:0;
  }
  .fa-location-arrow{
    size: 100px;
    color: #2c46ad;
    padding-left:1px ;
    font-size: 40px;

  }
  .fa-phone{
    color: #2c46ad;
    padding-right:3px ;
    font-size: 40px;

  }
  .fa-user{
    color: #2c46ad;
    padding-right:15px ; 
    font-size: 40px;
  }
 

 





  