.mainenqbx {
    height: 100%;
    margin-top: 30px;
    background-image: url("/public/images/footer-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: visible;
    object-fit: cover;
}

.enqbx-main {
    height: 400px;
    border-radius: 5px;
    width:100%;
}

.enqbx-main .inn {
    border-radius: 10px;
}

.enqbx-head {
    text-align: center;
}

.shortt-img {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
}

.shortt-img img {
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.enqformm {
    padding: 30px;
    margin: 0;
}

.enqbx2 {
    background-image: url("/public/images/others/enquiry-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

@media (width<=976px) {
    .enqformm {
        padding: 0;
        margin: 0;
    }
}
@media (width<=993px) {
    .enqformm {
        display: block;
    }
    .enqbx-main{
        height: 100%;
    }
}
@media (width<=992px) {
    .send-enquiry {
        margin-left: 5px;
           margin-bottom: 29px;
        }
}
@media (width<=2000px) {
    .mainenqbx {
        background-size: 100% 50%;
        }
}
