.fixedline{
    position: fixed;
     top:25%;
     bottom:10%;
     right: 0%;
     height:100px;
     width:3%;
    background-color:rgb(245, 238, 238);
    border-radius: 5px 0 0 5px  ;
    align-items: center;
}

.iconvalue{
    display: grid;
    font-size: 22px;
    margin-left: 10px;
}

.valuekiller{
    margin-bottom: 1px;
    margin-top: 2px;
    color:black
}
@media (width<=1199px){
    .fixedline{
    width: 4%;
    }
}
@media (width<=992px){
    .fixedline{
    width: 5%;
    }
}
@media (width<=767px){
    .fixedline{
    width: 6%;
    }
}
@media (width<=575px){
    .fixedline{
    width: 7%;
    }
}

@media (width<=507px){
    .fixedline{
    width: 9%;
    }
}

