.mainfooter {
    background-color: var(--bgc);
    position: relative;
    
}

.one {
    margin-left: 30px;
    color: var(--pri);

}

.two {
    margin-left: 30px;
    color: var(--pri);
}
.two Link{
    color:grey;
}
.quicklinks Link{
    color:grey;
}

.three {
    margin-left: 30px;
    color: var(--pri);


}

.four {
    margin-left: 30px;
    color: var(--pri);

}

.address {
    margin-left: 30px;
}
.online {
    padding: 5px 10px;
    background-color: var(--pri);
    border: none;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
}
.book {
    padding: 5px 10px;
    background-color: var(--pri);
    border: none;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.iconss {
    font-size: 20px;
    margin-left: 35px;
    color: var(--sec);
    text-align: left;
}

.iconss a{
    margin-right: 10px;
}

.follow {
    color: var(--pri);
    margin-left: 34px;
}

/* .sm {
    margin-left: 10px;
} */

.mainfooter li {
    list-style: none;
    margin-bottom: 10px;
}
.infyy-icon{
    font-size: 10px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--pri);
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.small-box {
    padding: 50px 0px;
    /* margin-bottom: 50px; */
}
/* .small-box {
    margin:40px 20px;
    width:100%;
    border-bottom: 5px;
    margin-right: 10px;
    box-shadow:  1px 1px 6px #aaaaaa;
    background-color: white;
    border-radius: 10px;
    border:1px solid red;
    margin-top: 100px;
    height: 100px;
} */
.nam-icon{
    background-color: white;
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* .small{
    border-radius: 10px;
    border:1px solid green;
} */
.name {
    background-color: var(--pri);
    /* border-radius: 10px; */
    margin-top: 0px;
    margin-bottom: 0px; 
    height: 20;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nam {
    background-color: white;
    
}

.infy {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 50px;    
}
.infyy{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--pri);
    display: flex;
    justify-content: center;
}
.infyicon{
    margin-top: 0px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: var(--sec);
}
.call {
    margin-top: 15px;
    text-align: center;
    color: var(--pri);
    border-right: light black;
    font-size:18px ;
}
.calls{
background-color: white;

}
.phone {
    text-align: center;
    color: var(--sec);
    font-size: 22px;
}
.email{
        text-align: center;
        color: var(--sec);
        font-size: 15px;
}
.mail {
    /* margin-bottom: 100px; */
    text-align: center;
    color: black;

}
.hari {
    color: black;
    display: flex;
    justify-self:center;
    margin-left: 30px;
    font-size: 15px;
    margin-top: 5px;
}
.follows {
    text-align: center;
    margin-left: 100px;
}
.facebook{
    padding-right: 5px;
}
.twitter{
    padding-right: 5px;
}
.instagram{
    padding-right: 5px;
}
.whatsapp{
    padding-right: 5px;
}
.linkedin{
    padding-right: 5px;
}

.topmenu{
  width:50px;
  height: 50px; 
  position: fixed; 
  bottom: 20px;
  right: 30px;
  background-color: var(--pri); 
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000; 
  font-size:28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (width<=767px) {
    .call{
        text-align: left;
        padding-left: 15px;
    }
    .phone{
        text-align: left;
        padding-left: 15px;
    }
    .infyy{
        justify-content: flex-start;
        padding-left: 15px;
    }
    .hari{
        margin-left: 0px;
        padding-left: 15px;
    }
    .infyy-icon{
        justify-content: flex-start;
        margin-left: 0px;
        padding-left: 15px;
    }
    .infyicon{
        justify-content: flex-start;
        padding: 0px;
        text-align: left;
    }
    .infyicon1{
        padding: 0px 0px 15px 15px;
        padding-bottom: 15px;
    }
    .name {

        border-top-right-radius: 10px;
        
        border-bottom-left-radius: 0px;
    }
    .nam-icon{
        padding-bottom: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    
}

@media screen and (width>=767px) and (width<=991px){
    .name{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .nam-icon{
        border-top-right-radius: 0px;
    }
    .nam1{
        border-bottom-left-radius: 10px;
    }
}














