@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --warning: #ffc107;
  --wh:rgb(243, 243, 243);
  --dark: #000000;

}.slider {
  height: 80vh;
}
.sliderBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}
.sliderImg {
  grid-area: 1 / 1 / 5 / 5;
  object-fit: cover;
  width: 100%;
}
.slideCont {
  grid-area: 2 / 1 / 3 / 2;
  padding: 0 0 0 100px;
  display: flex;
  align-items: center;
}
.banner-title {
  color: var(--pri);
}
@media (width <= 600px) {
  .slideCont {
    grid-area: 2 / 1 / 3 / 5;
    padding: 30px;
    text-align: center;
  }
}
.banner-title {
  font-size: clamp(70px, 4vw, 50px);
}

.home-baner-con {
  font-size: 17px;
  color: rgba(12, 9, 9, 0.5);
}
@media (width <= 600px) {
  .banner-title {
    font-size: clamp(50px, 4vw, 50px);
  }
}
/* Service  */
.serviceContainer {
  padding: 50px 0;
}
.serviceBox {
  padding: 50px;
}
.serviceCont {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(104, 104, 104, 0.2);
  padding: 30px;
  transition: all 0.3s;
}
.serviceCont img {
  height: 60px;
  margin-bottom: 20px;
}
.serviceCont .mid-title {
  margin-bottom: 20px;
}
.serviceCont:hover {
  color: var(--pri);
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
}
.serviceCont:hover img {
  animation: jello 2s;
}
.serviceCont:hover .mid-title {
  color: var(--pri);
}

/* About  */
.aboutSec {
  padding: 50px 0;
}
.aboutCont > .text-muted {
  margin-bottom: 50px;
}
.abtBoxes {
  margin-bottom: 50px;
}
.abtBoxes .row .col-12 {
  padding: 0 30px;
}
.abtBoxInn {
  border: 1px solid var(--gry);
  border-radius: 10px;
  padding: 10px;
}
.abtBoxInn > div {
  margin-top: 10px;
}
.abtBoxInn .mid-title {
  margin-bottom: 4px;
}
.image-home-about {
  padding: 30px;
}
.home-about-ttle {
  font-size: 45px;
}
.experienceimg {
  color: var(--pri);
}
.home-tit {
  color: black;
  font-size: 20px;
  font-weight: 600;


}

.home-tit:hover {
  color: var(--pri);
}
.text-light {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 15px;
}
.home-ser-con {
  font-size: 50px;
}
.home-ser-con-pink {
  font-size: 30px;
  color: var(--sec);
}
@media (width <= 600px) {
  .home-about-ttle {
    font-size: clamp(30px, 4vw, 50px);
    text-align: center;
  }
}
@media (width <= 600px) {
  .main-color {
    text-align: center;
  }
}

@media (width <= 600px) {
  .home-baner-con {
    text-align: center;
  }
}
.home-baner-con-below {
  font-size: 18px;
  color: rgba(12, 9, 9, 0.5);
}

@media (width <= 600px) {
  .home-baner-con-below {
    margin-left: 10px;
  }
}
/* Sub Service  */

.subServiceSec {
  /* margin-top: 60px; */
  /* padding: 80px 0 30px 0; */
  background-image: url("/public/images/Banner\ web.jpg");
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
  object-fit: cover;
  height: 100%;
}
.subser-title {
  font-size: 22px;
  font-weight: 500;
  
}

.vide-img-services {
  display: flex;
  justify-content: center;
}
.subServiceTop {
  margin-bottom: 60px;
}
.subServiceBoxInn {
  padding: 20px;
  position: relative;
}
.subServiceCont {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s;
  position: relative;
  margin-bottom: 70px;
}
/* .subServiceCont::before {
  content: "";
  display: block;
  background-color: var(--sec);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 30px 5px 30px 5px;
  transition: all 0.3s;
  position: absolute;
  top: -50px;
  margin-left: 25%;
} */
.hexShape {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: -40px;
  left: calc(50% - 50px);
}
.cls-1 {
  fill: var(--sec);
  scale: 0.3;
  transition: all 0.5s;
}
.subServiceCont:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #222;
}
/* .subServiceCont:hover::before {
  background-color: var(--pri);
} */
.subServiceCont:hover path {
  fill: var(--pri) !important;
  scale: 10;
}
.subServiceCont .mid-title {
  margin-top: 50px;
}
.hexIcon {
  filter: invert(1);
  height: 50px;
  position: absolute;
  top: -8px;
  left: calc(50% - 23px);
  z-index: 11;
}
/* .service1::before {
  background-image: url("/public/images/webs1.png");
}
.service2::before {
  background-image: url("/public/images/webs2.png");
}
.service3::before {
  background-image: url("/public/images/webs3.png");
}
.service4::before {
  background-image: url("/public/images/webs4.png");
}
.service5::before {
  background-image: url("/public/images/webs5.png");
}
.service6::before {
  background-image: url("/public/images/webs6.png");
}
.service7::before {
  background-image: url("/public/images/webs7.png");
}
.service8::before { 
  background-image: url("/public/images/webs8.png");
} */

.vid-home {
  border-radius: 20px;
}
.video-thumbnail {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.play-button {
  /* position:absolute;
  top:100px;
text-align: center;
left: 100px;*/
  left: 70px;
  position: absolute;
  /* top: 100px;
  text-align: center;
  left: 200px; */
  cursor: pointer;
  /* margin-top: 60px; */
  box-shadow: 0 8px 19px rgb(238, 235, 235);
}
.iconings {
  font-size: 60px;
  color: #f7f9fa;
}
/* Recent Projects  */

.reProSec {
  background-color: var(--bgc);
  padding: 50px 0;
}
.reProBoxInn {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--bgs);
}
.reProBoxInn:hover img {
  scale: 1.1;
}
.img-box {
  height: 300px;
  overflow: hidden;
}
.img-box img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all 2s;
}
.cont-box {
  height: 120px;
}

.play-button-icon {
  width: 30px;
  height: 30px;
  color: #ffffff; /* Set the desired color */
}

.sm-titles {
  font-size: 20px;
}
.home-slide .mid-titles {
  font-size: 23px;
  font-weight: 200;
}
/* Our Experience  */
.ourExpSec {
  padding: 50px 0;

}
.ourExpFoot {
  display: flex;
}
.ourExpFootIconBox {
  flex-basis: 20%;
}
.ourExpFootIconBox img {
  scale: 0.8;
}
.ourExpList li {
  margin-bottom: 10px;
  list-style: none;
}
.ico-list-colo{
  color:var(--pri);
  padding-right: 8px;
  font-size: 19px;
}
.testimonialBox{
  padding: 50px;
}
.list-home li:hover {
  color: var(--pri);
  cursor: pointer;
}
@media (width <= 991px) {
  .ourExpFootIconBox {
    flex-basis: 40%;
  }
}

/* Testimonial   */
.testimonialSec {
  padding: 50px 0;
  background-image: url(../../public/images/h1-bg04.jpg);
  background-position: 0px 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bgc);


  
}
.testimonialBox {
  box-shadow: 0 0 10px var(--bgs);
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #fff;
  background-image: url(../../public/images/review-bg.jpg);
}
.testiTopCont {
  margin-bottom: 50px;
  color: #fff;
}
.clientBox {
  display: flex;
  align-items: center;
}
.clientBox p {
  padding: 0;
  margin: 0;
}
.clientImgBox {
  display: flex;
  align-items: center;
}
.clienttitle{
  color: var(--warning);
  font-weight: 750;
  font-family: 'Roboto', "sans-serif";
}
.clientQuote {
  height: 60px;
  width: 60px;
  background-color: var(--warning);
  border-radius: 50%;
  margin-left: -120px;
}
.clientQuote img {
  scale: 0.5;
}
.clientImg {
  height: 80px;
  width: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 40px;
}
.clientName {
  margin-left: 80px;
}
.testMainCont {
  display: flex;
  gap: 70px;
  justify-content: center;
  /* align-items: center; */
  color: #fff;
}
@media (width <= 991px) {
  .testMainCont {
    flex-wrap: wrap;
  }
}
.test-head {
  font-size: 40px;
}
.testiIconBox {
  /* height: 150px;
  width: 150px;
  background-color: var(--pri); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50%; */
  position: relative;
}
.testiIconBox svg {
  width: 100px;
  fill: var(--pri);
  transition: all 0.5s;
}
.testiIconBox img {
  width: 50px;
  position: absolute;
}
.testiIconBox {
  margin: 10px auto;
  transition: all 0.3s;
}
.testiContBox {
  text-align: center;
}
.testInn:hover .testiIconBox svg {
  fill: var(--sec);
}
.issue {
  margin-top: -600px !important;
}
.controlacc {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* NewService */

.home-cont-overlay {
  background-color: #fff;
  width: 85%;
  margin: 0px 20px;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  display: none;

}
.home-slide .hom-sld-img {
  width: 98%;
  border-radius: 20px;
}
.home-cont-overlay img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  color: var(--pri);
}

.home-slide {
  position: relative;

}
.home-slider {
  position: relative;
}
.home-slide .mid-titles{
  color: var(--pri);
  font-size: 26px;
}

.home-slide:hover .home-cont-overlay {
  display: block;
  border-radius:10px;
}
.home-slider:hover .home-arrow {
  display: block;
}
.home-slider:hover .home-arrow1 {
  display: block;
}

.ho-arr {
  position: relative;
  top: 200px;
}
.home-arrow {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}
.ho-arr1 {
  background-color: red;}
.home-arrow:hover{
  background-color: var(--pri);
  color: #fff;
}
.home-arrow1:hover{
  background-color: var(--pri);
  color: #fff;
}

.ho-arr1{
  position: relative; 
  right: 20px;
  top: 200px;
  display: flex;
  justify-content: flex-end;
}
.home-arrow1 {
  position: fixed;
  z-index: 2;
  background-color: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}
.tech-desc {
  color: #b3bdd1;
}
.exp-home-tit {
  font-size: 30px;
}
.home-sliderr {
  margin-top: 100px;
}
.mains-heading-color{
  font-size: 20px;
  color: var(--pri);
}
.home-about-title{
  font-size: 45px;
}
.home-ourservice-des{
  font-size: 16px;
  color: #7b7d86 !important;
}
.text-lights{
  color: #f7f9fa;
  font-size: 15px; 
}
.text-lights:hover{
  color: white;
}
.ourser-btn{
  padding-top: 20px;
}
.slider-below-content{
  padding-bottom: 50px;
}
.btn-servicehome {
  background-color: var(--pri);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  padding: 20px;
}
.serviceIt{
  color: var(--pri);}
.home-about-ttles{
  font-size: 40px;
  text-align: center;
}
@media (width <= 1200px) {
  .btn-servicehome {
    padding: 12px;
  }
}
@media (width <= 1200px) {
  .iconings {
    font-size: 40px;
    
  }
}
.serv-home-sec{
  padding-bottom: 20px;
}