@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000000;
  }
 

  .downpart{
    display: flex;
  }

  .coffefullbox{
    overflow: hidden;
  }

  .leftside {
    padding-top: 40px;
    margin: 0 auto;
  }
  .about {
    display: flex;
  }
.aboutline_head{
  padding-left:15px;
  font-size: 20px;
  font-weight: 700;
}
  .span12 {
    color: var(--dark);
    font-size: 46px;
    font-weight: 600;
    font-family: 'Roboto', "sans-serif";
    
  }
  
  .span13{
    color: var(--warning);
    font-size: 46px;
    font-weight: 600;
    font-family: 'Roboto', "sans-serif";
  }
  
  .datawings {
    display: flex;
  }

  .paragraph{
    display: flex;
    margin-bottom: 8px;
    margin-top: 10px;
    padding: 2px;
  }
  
  .datawings_para {
    font-size: 18px;
    text-align: justify;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
  }
  .imageboxer img{
    height: 80%;
    width: 80%;
  }
  .down_icons {
    height:80%;
    width: 80%;
    color: var(--warning);
  }
  .vertical_line {
    border-right: 0.02px solid rgb(175, 170, 170);
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
  
  }
  
  .containers {
    position: relative;
    display: inline-block;
  }
  
  .icon-container {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--warning);
    justify-content: center;
  }
  
  .iconing{
    height: 30px;
    width: 60px;
  }
  .smallsss{
    background-color: var(--warning);
    width: 50px;
    height:5px;
    margin-top: 10px;
  }
  
  .rightside{
    position: relative;
  }
  .round1 {
    height: 100px;
    margin-left: 10px;
  }
  
  .about {
    display: flex;
  }

  .imaginary{
    border-radius: 30px;
    padding: 10px;
    filter: grayscale(150%);
  }
   iframe{
    width: 100%;
    height: 500px;
  }
  .value h3{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
   }

   @media (width<=991px){

    .rightside{
    margin-left:10%;
    margin-top: 30px;
    }
    .paragraph h3{
   font-size: 2px;
    }
    .datawings_para{
      font-size: 17px;
     padding: 20px;
    }
    .datawings img{
      width:150%;
      height: 100%;
    }
   .vertical_line{
    margin-left: 10px;
    margin-right: 0;
   }
   .icon-container{
    left: 40%;
   }
   .datawings{
    flex-direction: column;
   }
   .datawings img{
    height: 90%;
    width: 90%;
   }
   .downpart{
    flex-direction: column;
    text-align: center;
    margin-left: px;
   }
   .vertical_line{
    display:none;
   }
   .down_icons {
    height:15%;
    width: 15%;
   }

   }

   @media (width<=606px){
    .rightside{
    margin: 0;
    }
    .about{
     margin-left: 10px;
    }
   }
   @media (width<=476px){
    .rightside{
      margin-top: 30px;
    }
    .paragraph h3{
      font-size: 20px;
    }
    .value{
      margin-top: 20px;
      margin-bottom: 20px;
    }
   }
    
  
 

   
   

   
   


  