@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000000;
    --wh:rgb(243, 243, 243);

}

.icon-img{
  margin-top: 20px !important;
  border: 1px solid red;
}
.pros{
    transform: rotateX('130deg');
    background-color: black;
    height: 40%;
}
.edgehead{
    color:var(--white);
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.butt {
  background-color: var(--white);
  width: 55px;
  height: 55px;
  margin: 0 auto;
  color: var(--dark);
  font-size: 30px;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.butt:hover {
  background-color: var(--warning);
  color: var(--white);
  box-shadow: 0px 0px 5px var(--warning), 0px 0px 25px var(--warning), 
              0px 0px 50px var(--warning), 0px 0px 600px var(--warning);
  border: none;
}
.hiddenrows {
  position: absolute;
  /* background: url("/public/images/industrialsafety.webp") no-repeat; */
  background-size: cover;
  top: 0;
  left: 0;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.hiddenrows1{
    position: absolute;
    /* background: url("/public/images/industrialcutting.webp") no-repeat; */
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: right;
    opacity: 0;
    transition: opacity 0.4s ease-in; 
}
.hiddenrows2{
    position: absolute;
    /* background: url("/public/images/textile\ machinery.webp") no-repeat; */
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; 
}
.hiddenrowsa{
    position: absolute;
    background: url("/public/images/iot-network.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
    left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: center;
  opacity: 0;
  transition: opacity 0.4s ease-in; 
}
.hiddenrowsb{
  position: absolute;
  background: url("/public/images/iot-laptop.webp") no-repeat;
  background-size: cover;
    background-position: bottom;
  top: 0;
  left: 0;
height: 100%;
width: 100%;
perspective: 500px;
perspective-origin: bottom;
opacity: 0;
transition: opacity 0.4s ease-in; 
}
.hiddenrowsc{
  position: absolute;
  background:url("/public/images/iot-camera.webp") no-repeat;
  background-size: cover;
    background-position: bottom;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
perspective: 500px;
perspective-origin: center;
opacity: 0;
transition: opacity 0.4s ease-in; 
}
.hiddenrowsd{
  position: absolute;
  background:  url("/public/images/iot-projectors.webp") no-repeat;;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
perspective: 500px;
perspective-origin: bottom;
opacity: 0;
transition: opacity 0.4s ease-in; 
}
.hiddenrowse{
  position: absolute;
  background: url("/public/images/PC.webp") no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 0;
  left: 0;
height: 100%;
width: 100%;
perspective: 500px;
perspective-origin: center;
opacity: 0;
transition: opacity 0.4s ease-in; 
}

.hiddenrowsddd{
  position: absolute;
  background: url("/public/images/inter-com.webp") no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 0;
  left: 0;
height: 100%;
width: 100%;
perspective: 500px;
perspective-origin: center;
opacity: 0;
transition: opacity 0.4s ease-in;
}

.hiddenrowsccc{
  position: absolute;
  background: url("/public/images/pos-img.webp") no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 0;
  left: 0;
height: 100%;
width: 100%;
perspective: 500px;
perspective-origin: center;
opacity: 0;
transition: opacity 0.4s ease-in;  
}
.hiddenrowsbbb{
  position: absolute;
  background: url("/public/images/wifis.webp") no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 0;
  left: 0;
height: 100%;
width: 100%;
perspective: 500px;
perspective-origin: center;
opacity: 0;
transition: opacity 0.4s ease-in; 
}
.hiddenrows4{
    position: absolute;
    background: url("/public/images/lapcon.webp") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: right;
    opacity: 0;
    transition: opacity 0.4s ease-in; 
}
.hiddenrows5{
    position: absolute;
    background: url("/public/images/lapcon.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: right;
    opacity: 0;
    transition: opacity 0.4s ease-in; 
}
.hiddenrowsass{
  position: absolute;
    background: url("/public/images/ups-img.webp") no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: right;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.hiddenrows6{
  position: absolute;
  background:  url("/public/images/interactiveimg.webp") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; 
}

.hiddenrows44{
  position: absolute;
  background:  url("/public/images/TV.webp") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; 
}
.hiddenrows55{
  position: absolute;
  background:  url("/public/images/scanerprinter.webp") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; 
}
.firstrow:hover .hiddenrows55 {
  opacity: 1;
}
.firstrow:hover .hiddenrows44 {
  opacity: 1;
}


.firstrow h3{
  margin-top: 15px;
  height: 60px;
}

.firstrow:hover .hiddenrowsa {
  opacity: 1;
}
.firstrow:hover .hiddenrowsb{
  opacity: 1;
    
}
.firstrow:hover .hiddenrowsccc{
  opacity: 1;
    
}
.firstrow:hover .hiddenrowsddd{
  opacity: 1;
    
}
.firstrow:hover .hiddenrowsbbb{
  opacity: 1;
    
}
.firstrow:hover .hiddenrowsc{
      opacity: 1;
    
}

.firstrow:hover .hiddenrowsd{
  opacity: 1;
    
}
.firstrow:hover  .hiddenrowse{
  opacity: 1; 
    
}
.firstrow:hover  .hiddenrowsass{
  opacity: 1; 
    
}
.firstrow:hover  .hiddenrows6{
  opacity: 1;
    
}
.firstrow:hover .hiddenrows5{
    opacity: 1;
}
.firstrow:hover .hiddenrows4{
  opacity: 1;
}


.firsthead{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Roboto', "sans-serif";
    overflow: hidden;
}

.abouts{
    display: flex;
    margin-left: 45px;
}
.small_line {
    height: 5px;
    width: 70px;
    background-color: var(--warning);
    font-weight: 800;
    margin-top: 13px;
}
.aboutline_head{
    margin-left: 8px;
    font-size: 25px;
}


.header2 p {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 400;
    margin-left: 40px;
}
.service-head{
    font-size: 30px;
    font-weight: 980;
    margin-left: 50px;
}
.divline{
    height: 8px;
    background-color: var(--warning);
    font-weight: 800;
    /* width: 420px; */
}

.firstrow {
  background-color: var(--white);
  height: 350px;
  width: 95%;
  text-align: center;
  white-space: none;
  margin-top: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: opacity 0.4s ease-in; 
}

.icon2{
    font-size:100px;
    background-color: var(--white);
    color: var(--warning);
    float: right;
    opacity: 0.3;
}


.rightsidegrid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
    place-content: center;

}

.param{
    padding: 5px 5px ;
}


.icons{
    height: 70px;
    width: 70px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: var(--white);
    padding: 4px;
    color: var(--warning);
   
}

.divideline{
    height: 5px;
    background-color: var(--warning);
    font-weight: 800;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Ourservice_leftside{
  display: flex;
  
}

@media screen and (max-width:576px){
   .Ourservice_leftside{
    flex-direction: column;
   }
   .header2  p{
    margin-top: 20px;
    margin-left: 0px;
   }
   .abouts{
    margin-left: 0 !important;
   }
   .rightsidegrid{
        grid-template-columns: repeat(1,1fr);
    }
    .firstrow{
        width: 90%;
        height: 100%;
    }
    .divline{
        width: 100%;
    }
}  



@media screen and (min-width:567px ) and (max-width:1200px){
    .header1{
     margin-left: 10px ;
    }
    .header2 p{
        margin-top: 20px;
        margin-left: 10px;
    }
    .rightsidegrid{
        grid-template-columns: repeat(3,1fr);
        column-gap: 10px;  
    }
    .firstrow{
        width: 100%;
    }
    .divline{
        width: 100%;
    }


 }
@media (width<=991px){
  .rightsidegrid{
  grid-template-columns: repeat(2,1fr);
  }
}

 @media (width<=1210px){
    .icon2{
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0;
        font-size: clamp(100px, 2vw, 150px);
    }
}
@media (width<=1192px){
    .icon2{
        padding-top: 10px !important;
        margin-bottom: 0;
        padding: 0;
        font-size: 90px !important;
    }
    .firstrow{
        height:80%;
    }
}

@media (width<=1242px){
  .butt{
    border-radius: 50%;
    height: 20%;
  }
}

@media (width<=1393px){
  .butt{
      border-radius: 50%;
      height: 20%;
    }
  }
@media (width<=1200px){
  .butt{
      border-radius: 50%;
      width: 50px;
      height: 50px;
     
    }
    .abouts{
      margin: 0;
    }
  }

  @media (width<=982px){
    .butt{
      border-radius: 20px;
  
      font-size: 22px;
    }
  }

  @media (width<=514px){
    .butt{
      border-radius: 20px;
      width: 13%;
      font-size: 20px;
    }
  }
  @media (width<=1288px){
    .service-head{
      font-size: 30px;
    }
  }

  @media (width<=382px){
    .butt{
      border-radius: 20px;
      width: 18%;
      font-size: 20px;
    }
    .firstrow h3{
      padding: 10px;
    }
    
  }
  @media (width<=735px){
    .butt{
      border-radius: 20px;
      font-size: 22px;
    }
  }

  @media (width<=1200px){
    .service-head{
      font-size: 22px;
      margin: 10px;
      margin-left: 10px;
    }
    .header2 p{
    font-size: 18px;
    margin-top: 25px;
    }
  }
  @media (width<=349px){
    .butt{
      border-radius: 20px;
      width: 23%;
      font-size: 20px;
    }
  }
  @media (width<=767px){
    .butt{
      
       height: 50px;
      font-size: 20px;
      
    }
    .rightsidegrid{
      grid-template-columns: repeat(1,1fr);
    }
  }
  @media (width<=564px){
    .butt{
      border-radius: 22px;
      font-size: 30px;
      
    }
  }

 @media (width<=516px){
  .butt{
      border-radius: 30px;
      font-size: 25px;
     
    }
  }

  @media (width<=414px){
    .butt{
      border-radius: 30px;
      font-size: 26px;
    
    }
  }
  @media (width<=380px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
    }
  }
  @media (width<=987px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      
    }
  }
  @media (width<=752px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      
    }
  }
  @media (width<=553px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      width: 18%;
    }
    .firstrow{
      column-gap: 0;
      width: 100%;
    }
  }
  @media (width<=500px){
    .butt{
      border-radius: 50%;
      font-size: 25px;
      /* width: 25%; */
    }
    .firstrow{
      width: 105%;
      margin: 0;
      padding: 0;
    }

  }

  @media (width<=500px){

    .firsthead{
      margin-left: 0px;
      margin-right: 0px;
   
  }
  .rightsidegrid{
    margin-left: -10px;

  }
  }