@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000000;
    --wh:rgb(243, 243, 243);

}


.pros{
    transform: rotateX('130deg');
    background-color: var(--dark);
    height: 40%;
}
.edgehead{
    color:var(--white);
    align-items: center;
    padding: 10px;
}

.butt {
  background-color: var(--white);
  width: 15%;
  height: 55px;
  margin: 0 auto;
  color: var(--dark);
  font-size: 30px;
  border-radius: 100px;
  border: 2px solid var(--white);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.butt:hover {
  background-color: var(--warning);
  color: var(--white);
  box-shadow: 0px 0px 5px var(--warning), 0px 0px 25px var(--warning), 
              0px 0px 50px var(--warning), 0px 0px 600px var(--warning);
  border: none;
}
.hiddenrows {
  position: absolute;
  background: url("/public/images/iot-network.webp") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}

.hiddenrows1{
    position: absolute;
    background: url("/public/images/iot-laptop.webp") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: right;
    opacity: 0;
    transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}
.hiddenrows2{
    position: absolute;
    background: url("/public/images/iot-camera.png") no-repeat;
    background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}
.hiddenrows3{
    position: absolute;
    background: url("/public/images/iot-projectors.png") no-repeat;
    background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}
.hiddenrows4{
    position: absolute;
    background: url("/public/images/PC.webp") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: right;
    opacity: 0;
    transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}
.hiddenrows5{
    position: absolute;
    background: url("/public/images/lapcon.webp") no-repeat;
    background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 500px;
  perspective-origin: right;
  opacity: 0;
  transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}

.firstrow:hover .hiddenrows {
  opacity: 1;
}
.firstrow:hover .hiddenrows1{
  opacity: 1;
    
}
.firstrow:hover .hiddenrows2{
      opacity: 1;
    
}

.firstrow:hover .hiddenrows3{
  opacity: 1;
    
}
.firstrow:hover  .hiddenrows4{
  opacity: 1; 
    
}

.firstrow:hover  .hiddenrows5{
  opacity: 1;
    
}


.firsthead{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Roboto', "sans-serif";
}

.abouts{
    display: flex;
    margin-left: 45px;
}
.small_line {
    height: 5px;
    width: 70px;
    background-color: var(--warning);
    font-weight: 800;
    margin-top: 13px;
}
.aboutline_head{
    margin-left: 8px;
}


.header2 p {
    font-size: 20px;
    margin-top: 50px;
    font-weight: 400;
    margin-left: 40px;
}
.service-head{
    font-size: 35px;
    font-weight: 980;
    margin-left: 50px;
}
.divline{
    height: 8px;
    background-color: var(--warning);
    font-weight: 800;
    /* width: 420px; */
}

.firstrow {
  background-color: var(--white);
  height: 430px;
  width: 90%;
  text-align: center;
  white-space: none;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: opacity 0.4s ease-in; /* Reduced the transition duration */
}


.icon2{
    font-size:100px;
    background-color: var(--white);
    color: var(--warning);
    float: right;
    opacity: 0.3;
}


.rightsidegrid
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;

}

.param{
    padding: 20px 20px ;
}


.icons{
    height: 80px;
    width: 80px;
    margin-left: 15px;
    margin-top: 30px;
    background-color: var(--white);
    padding: 4px;
    color: var(--warning);
   
}

.divideline{
    height: 5px;
    background-color: var(--warning);
    font-weight: 800;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.Ourservice_leftside{
  display: flex;
  
}

@media screen and (max-width:576px){
   .Ourservice_leftside{
    flex-direction: column;
   }
   .header2  p{
    margin-top: 20px;
    margin-left: 0px;
   }
   .abouts{
    margin-left: 0 !important;
   }
   .rightsidegrid{
        grid-template-columns: repeat(1,1fr);
    }
    .firstrow{
        width: 90%;
        height: 100%;
    }
    .divline{
        width: 100%;
    }
}  



@media screen and (min-width:567px ) and (max-width:1200px){
    .header1{
     margin-left: 10px ;
    }
    .header2 p{
        margin-top: 20px;
        margin-left: 10px;
    }
    .rightsidegrid{
        grid-template-columns: repeat(2,1fr);
    }
    .firstrow{
        width: 100%;
        height: 100%;
    }
    .divline{
        width: 100%;
    }


 }


 @media (width<=1210px){
    .icon2{
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0;
        font-size: clamp(100px, 2vw, 150px);
    }
}
@media (width<=1192px){
    .icon2{
        padding-top: 10px !important;
        margin-bottom: 0;
        padding: 0;
        font-size: 90px !important;
    }
    .firstrow{
        height:90%;
    }
}

@media (width<=1242px){
  .butt{
    border-radius: 50%;
    height: 20%;
  }
}

@media (width<=1393px){
  .butt{
      border-radius: 50%;
      height: 20%;
    }
  }
@media (width<=1200px){
  .butt{
      border-radius: 50%;
      width: 10%;
    }
    .abouts{
      margin: 0;
    }
  }
  @media (width<=1182px){
    .butt{
      border-radius: 20px;
      width: 10%;
      font-size: 25px;
    }
   
  }
  @media (width<=982px){
    .butt{
      border-radius: 20px;
      width: 15%;
      font-size: 22px;
    }
  }

  @media (width<=514px){
    .butt{
      border-radius: 20px;
      width: 13%;
      font-size: 20px;
    }
  }
  @media (width<=1288px){
    .service-head{
      font-size: 30px;
    }
  }

  @media (width<=382px){
    .butt{
      border-radius: 20px;
      width: 18%;
      font-size: 20px;
    }
  }
  @media (width<=735px){
    .butt{
      border-radius: 20px;
      width: 20%;
      font-size: 22px;
    }
  }

  @media (width<=1200px){
    .service-head{
      font-size: 22px;
      margin: 10px;
      margin-left: 10px;
    }
    .header2 p{
    font-size: 18px;
    margin-top: 25px;
    }
  }
  @media (width<=349px){
    .butt{
      border-radius: 20px;
      width: 23%;
      font-size: 20px;
    }
  }
  @media (width<=764px){
    .butt{
      border-radius: 20px;
      width: 20%;
      font-size: 20px;
    }
  }
  @media (width<=564px){
    .butt{
      border-radius: 22px;
      font-size: 30px;
      width: 15%;
    }
  }
 /* }
 .firstrow .iconbox{
    border:1px solid red;
    margin: 0;
    padding: 0;
 } */
 @media (width<=516px){
  .butt{
      border-radius: 30px;
      font-size: 25px;
      width: 18%;
    }
  }

  @media (width<=414px){
    .butt{
      border-radius: 30px;
      font-size: 26px;
      width: 22%;
    }
  }
  @media (width<=380px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      width: 30%;
    }
  }
  @media (width<=987px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      width: 15%;
    }
  }
  @media (width<=752px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      width: 25%;
    }
  }
  @media (width<=553px){
    .butt{
      border-radius: 30px;
      font-size: 28px;
      width: 18%;
    }
  }
  @media (width<=422px){
    .butt{
      border-radius: 30px;
      font-size: 25px;
      width: 25%;
    }
  }