.head-project{
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin: 10px 20px;
    /* overflow: hidden; */
}
.colu-1{
    background-image: url('/public/images/projects.png');
    padding: 30px 20px ;
    width: 100%;
}
.line-heading{
    display: flex;
    align-items: center;
}
.line-heading span{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.conts{
    font-size: 42px;
    margin: 0px;
    font-weight: 700;
}
.con-2{
    /* color: var(--yellow); */
    padding-bottom: 30px;
    padding-top: 0;
    margin-top: 0;
}
.under-line{
    width:50px;
    height: 5px;
    background-color: var(--yellow); 
    margin: 10px 10px; 
    cursor: pointer;
}
#accordion{
    margin-top: 25px;
}
.accordion-button {
    background-color: var(--white) !important;
    font-weight: 700 !important;
}
.accordion-button:not(.collapsed) {
    color: var(--white) !important;
    background-color:  var(--black)!important;
    border: none !important;
}
#accordion .accordion-button::after {
    display: none !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}

.header {
    position: relative;
    
}
.header .plus{
   position: absolute;
   text-align: center;
    top: 15px;
    right: 0px;
    margin-left: 40px;
    margin-right: 4px;
    font-size: 20px;
    background-color:  var(--black);
    padding: 0px 5px;
    color: var(--white);
    border-radius: 1px;
}
.accordion-button:not(.collapsed) .plus{
    background-color: var(--white) !important;
    color:  var(--black);
}

.colu-2{
    background-color:var(--black);
 
    min-height:60vh;
    width:50vw !important;
    margin-top: 70px;
    position: absolute;
    top: 0%;
    z-index: -1;
}

.col-2{
    margin: 20px;
    height:59vh;
    width:50vw !important;
    /* margin-top: 70px; */
    position: relative;  
}
.col-2 img{
    /* display: flex;
    justify-content: space-between; */
    border: 10px solid var(--white);
    margin-left: 20px;
    filter: grayscale(10);
}
.slide-arrows{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* left: 45%;
    bottom: 0%; */
}
.slide-arrow{
    font-size: 30px; 
    color: var(--grey); 
    margin: 0px 10px;
}
.slide-arrow:hover{
    cursor: pointer;
    color: var(--yellow);
}
.slider-item{
    position: relative;
    display: inline-block;
}
.slider-item:hover .silder-content{
    display: block;
}
.silder-content{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    text-align: center;
    top: 60%;
    left: 55%;
    transition: all .3 ease-in                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ;
    /* z-index: 1; */
    display: none;
    transform: translate(-50%,-50%);
}

.con-1{
    font-weight: 700; 
}
.con-2{
    color: var(--yellow);
}

.slider-item img{
    width: 200px;
    height: 300px;
    position:relative;
    /* top: 80% !important; */
    border: 20px solid var(--white);
    /* margin: 30px !important; */
}

  /* the slides */
  .slick-slide {
      margin: 0 5px;
  }

  /* the parent */
  /* .slick-list {
      margin: 0 -5px;
  } */
  .slideToGo{
    width:20px;
    height: 5px;
    background-color: var(--grey); 
    margin: 10px 10px; 
    cursor: pointer;
  }
  .slideToGo:hover{
    background-color: var(--yellow); 
  }
.slide-head{
    display: flex;
    align-items: center;
}
.active{
    background-color: var(--yellow); 
}
@media screen and (min-width:480px) and (max-width:900px) {
    .head-project{
        grid-template-columns: repeat(1,1fr);
    }
    .colu-2{
        top: 0%;
        height:vh;
        width:90vw !important;
        /* margin: 0px 100px; */
    }
    .slider-item img{
        /* height: 100vh; */
        /* width:100px; */
        /* width: 200%; */
        /* height: 100%; */
        /* left: 50%; */
    }

    .col-2{
        width: 85vw !important;
    }
    /* .slick-slide {
        margin: 0 1px;
    } */
  
    /* the parent */
    /* .slick-list {
        margin: 0 -1px;
    } */
    
    .slider-item img{
        margin-left: 30px;
        width:200px !important; 

    }
}
@media screen and (max-width:480px) {
    .head-project{
        grid-template-columns: repeat(1,1fr);
    }
    .colu-2{
        top: 0%;
        height:60vh;
        width:90vw !important;
        /* margin: 0px 100px; */
    }
    .slider-item img{
        height: 350px;
    }

    .col-2{
        width: 85vw !important;
    }
    /* .slick-slide {
        margin: 0 15px;
    }

    .slick-list {
        margin: 0 -15px;
    } */
    
    .header .plus{
        right: 2px;
    }
    .slideToGo{
        margin: 10px 5px; 
        width: 15px;
    }
}