@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #e9e9e9;
  --dark: #000000;
  --greyscale: #c0c0c0;
}

.span1 {
  color: var(--dark);
  margin-left: 8px;
}

.span2 {
  color: var(--warning);
}
.ser-h1 {
  font-weight: 600;
  font-size: 50px;
}

.box1_para {
  font-size: 20px;
  font-weight: 400;
 margin-top: 20px;
  margin-bottom: 25px;

}
/* .box1_btn{
  background-color: var(--dark);
  color: var(--white);
  font-weight: 600;
  transition: all 1s;
}
.box1_btn:hover{
  box-shadow: inset -140px 0px 0px 0px var(--warning), inset 140px 0px 0px 0px;

} */

.about-btns{
  position:relative;
  width: 150px; 
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: black;
  padding: 15px 0px;
  border-radius: 5px;
  margin: 20px 0px;
  border: none;
  z-index:1;
}
.about-sc{
  position: absolute;  
  /* width:110px;
  height:100px; */
  height: 100%;
  width: 20%;
  /* padding: 33px 0px; */
  background-color:#ffc107;
  right:0px;
  top:0px;
  border-radius: 100rem 0rem 0rem 100rem;
  border:none;
  /* z-index:2; */
  transition: .2s ease-in;
}

.about-btns:hover .about-sc{
  width:150px;
color:white ;
  border-radius: 3px ;
  transition: .2s ease-in;
}
.about-sc p{
  display: none;
}
.about-btns:hover .about-sc p{
  display: block;
  padding: 15px 0px;
}
.about-btns .iot-about-text{
  position: absolute;
  font-size: 18px;
  top: 12px;
  z-index: 3;
  height: 100%;
  left: 30px;
}
.about-btns:hover .iot-about-text{
  color: black;  
}
.iot-about-text .about-btns-icons1{
  font-size: 20px;
  margin-left: 5px;
  display: none;
}
.about-btns:hover .iot-about-text .about-btns-icons1{
  display: inline-block;
}
.about-btns-icons{
  font-size: 20px;
  margin-left: 5px;
}



.rightsmall_line {
  height: 6px;
  width: 100px;
  background-color: var(--warning);
  font-weight: 800;
  margin-left: 10px;
}
.text {
  display: grid;
  text-align: center;
  margin-top: 27px;
}

.right_para {
  font-weight: 600px;
  font-size: 15px;
margin-right: 20px;
display: grid;
grid-template-columns: 1fr;
grid-auto-flow: row;
}

.icon_size {
  height: 160%;
  padding: 13px;
  width: 100%;
  background-color: var(--white);
  margin: 10px;
  border-radius: 5px;
}
.iconsiot{
  text-align: center;
  margin-top: 21px;
}

.heads{
  display: flex;

  margin-bottom: 20px;
}
.iconhidden{
  font-size: 50px;
margin-left: 130%;
color: var(--gray-dark);

}

.small_line {
  background-color: var(--warning);
  width: 60px;
  height: 5px;
  margin-bottom: 5px;
}
.para {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-left: 20px;
}
.arrow {
  display: none;
  color: var(--warning);
  justify-content: right;
}

.bgBox {
  padding: 50px 0;
  overflow: hidden;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.text {
  padding: 5px;
}
.divBox {
  background-color: rgb(243, 243, 243);
  width: 110%;
  height: 105%;
}
.div1 {
  grid-area: 1 / 1 / 2 / 3;
  position:relative;
  font-family: 'Roboto', sans-serif; 
  transition: 5s ease-in;
}

.div2 {
  grid-area: 1 / 3 / 2 / 5;
  position: relative;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  transition: 5s ease-in;
}
.div3 {
  grid-area: 2 / 1 / 2 / 3;
  position: relative;
  margin-top: 20px;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  transition: 5s ease-in;
}
.div4 {
  grid-area: 2 / 3 / 2 / 5;
  position: relative;
  margin-top: 20px;
  margin-left: 100px;
  font-family: 'Roboto', sans-serif;
  transition: 5s ease-in;
}
.text h4{
  font-size: 22px;
  font-weight: 700;
}

@media (width <= 991px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  h1 {
    font-size: 35px;
  }
}

@media (width<=767px) {
  .parent {
    margin-top: 50px;
  }
  .text {
    margin-left: 30px;
  }
  .leftContBox {
    text-align: center;
  }
  .head {
    justify-content: center;
  }
}
.leftparagraph{
  margin-left: 130px;
  margin-top: 70px;
}

.leftContBox{
background: url("/public/images/stone-texture.jpg") no-repeat;
height: 600px;
 }

.align-items-center{
  font-family: 'Roboto', sans-serif;
}


@media (width<=575px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    place-items: center;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .icon_size {
    width: 40%;
  }
}

@media (width<=762px){
  .div{
    height: 80%;
  }
  .icon_size{
      width:30%;
      padding: 0;
      margin: 0;
  }
  .right_para{
      font-size: 15px;
      padding: 30px;
      display: grid;
  }
}

.div1:hover{
  background-color: var(--dark);
  color: white;
  transition: background-color 0.5s, color 0.5s;
  .icon_size{
    background-color: var(--gray);
    color: var(--warning);
  }
  .right_para{
    display: none;
  }
  .hidden{
    display: block;
    transition: display 0.5s;
  }
}

.div2:hover{
  background-color: var(--dark);
  color: white;
  transition: background-color 0.5s, color 0.5s;
  .icon_size{
    background-color: var(--gray);
    color: var(--warning);
  }
  .right_para{
    display: none;
  }
  .hidden1{
    display: block;
    transition: display 0.5s;
  }
}
.div3:hover{
  background-color: var(--dark);
  color: white;
  transition: background-color 0.5s, color 0.5s;
  .icon_size{
    background-color: var(--gray);
    color: var(--warning);
  }
  .right_para{
    display: none;
    
  }
  .hidden2{
    display: block;
    transition: display 0.5s;
  }
}
.div4:hover{
  background-color:var(--dark);
  color: white;
  transition: background-color 0.5s, color 0.5s;
  .icon_size{
    background-color: var(--gray);
    color: var(--warning);
  }
  .right_para{
    display: none;
  }
  .hidden3{
    display: block;
    transition: display 0.5s;
  }
}

@media (width<=1004px){
  .div2 h4{
    font-size: 20px;
  }
}

.hidden{
  position: absolute;
  display: none;
  z-index: 1;
  top: 60%;
  left: 55%;
  padding:6px;
 
}


.service-arrow{
  color:var(--warning)
}

.hidden1{
  position: absolute;
  display: none;
  text-align: center;
  z-index: 1;
  top: 55%;
  left: 55%;
  padding:6px;
 
}
.hidden2{
  position: absolute;
  display: none;
  text-align: center;
  z-index: 1;
  top: 55%;
  left: 55%;
  padding:6px;

}
.hidden3{
  position: absolute;
  display: none;
  text-align: center;
  z-index: 1;
  top: 55%;
  left: 55%;
  padding:6px;

}
@media (width<=1196px){
.hidden p{
  font-size: 13px;
  margin-top: 10px;
}
.hidden1 p{
  font-size: 13px;
  margin-top: 10px;
}
.hidden2 p{
  font-size: 13px;
  margin-top: 10px;
}
.hidden3 p{
  font-size: 13px;
  margin-top: 10px;
}
}

@media (width<=600px){
  .hidden {
     top:60%;
    }
  .hidden1 {
    top:60%;
  }
  .hidden2 {
    top:60%;
  }
  .hidden3 {
    top:60%;
  }
  }
