@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@200;400&family=Roboto&display=swap'); 

.servsl-overlay{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    padding: 30px;
    margin-left: 35px;
    text-align: center;
    display: none;
}
.servsl-head{
    position: relative;
}
.servsl-overlay:hover p{
    color: #ffc000;
}
.servsl-head:hover .servsl-overlay{
    display: block;
}
.service-slider{
    width: 50vw;
}
.serv-sliders img{
 max-width: 98%;
 height: 400px;
}
.servicepage-head{
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}
.serv-details{
    margin: 0px 30px;
}
.serv-details1 h3{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.serv-details3 h3{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.serv-details2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.serv-details1,.serv-details3{
    margin: 20px;
}
.servpage-icon{
    font-size: 25px;
    color: #ffc000;
    margin-right: 10px;
}
.serv-details2 span{
    font-size: 20px;
    color: #636363;
}
.serv-details4{
  display: flex;
  flex-direction: column;
  width: 80%;

}
.serv-details4 button{
    background-color: #fff; 
    color: #000;
    border: 1px solid #636363;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.serv-details4 button:hover{
    background-color: #ffc000;
    color: #fff;
    border: none;
}
.serv-btn-icon{
    font-size: 25px;
    margin-right: 15px;
    /* padding-bottom: 10px; */
}
.serv-btn-cont{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
@media screen and (min-width:1400px){
    .serv-sliders img{
        max-width: 98%;
        height: 450px;
       }
}
@media screen and (min-width:1750px){
    .serv-details4{
        width: 90%;
    }
    .serv-details{
        margin: 20px 50px;
    }
    .serv-sliders img{
        max-width: 98%;
        height: 600px;
       }
}
@media screen and (max-width:750px){
    .service-slider{
        width: 90vw;
    }
    .serv-sliders img{
        max-width: 98%;
        height: 400px;
       }
    .servicepage-head{
        flex-direction: column;
        justify-content: center;
    }
    .serv-details{
        margin:0px;
        margin-top: 30px;
    }
    .serv-details4 button{
        padding-left: 15px;
    }
    .serv-btn-icon{
        margin-right: 15px;
    }
    .serv-details2 span{
        font-size: 16px;
    }
   .serv-btn-icon{
       padding-bottom: 10px;
    }
}
@media screen and (min-width:1020px) and (max-width:1400px){
    .serv-sliders img{
        max-width: 98%;
        height: 500px;
    }
}
@media screen and (min-width:750px) and (max-width:1000px){
    .service-slider{
        width: 90vw;
    }
    .servicepage-head{
        flex-direction: column;
        justify-content: center;
    }
    .serv-sliders img{
        width: 80%;
        height: 100%;
    }
}

@media (width<=1399px){
    .div11{
        width: 95%;
        height: 200px;
        padding: 10px;

    }
    .div10{
        width: 95%;
        height: 200px;
        padding: 10px;
    }
}
@media (width<=1200px){
    .div10{
        width:95%;
        height: 230px;
        padding: 5px;
    }
    .div11{
        width:95%;
        height: 230px;
        padding: 5px;
    }
}
