/* new */


.marketing1{
    background-color: rgb(214, 212, 212);
    border-radius: 8px;
    padding: 40px;

}
.marketing2{
    background-color: #EF3E38;
    color:#fff ;
    border-radius: 8px;
    padding: 40px;

}
.slidepointimg-1{
    /* max-width: 350px; */
    width: 100%;
}
.partner-imgs{
    border-radius: 10px;
}
.partners-1 {
    margin-bottom: 30px !important;
}
.partner-top{
    margin-top: 30px !important;
}
.partner-bottom{
    margin-bottom: 30px !important;
}

@media (width<=767px){
.partner-col1{
    margin-bottom: 20px ;
}
}

/* new */




















.imageclinic{
    background: url("/public/images/partner_grouping.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 350px;
}
.fullslider{
    overflow: hidden;
}
.imageclinic1{
    background: url("/public/images/partner4.webp")  no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 350px;
}
.responsive{
    overflow: hidden;
}
.imageclinic3{
    background: url("/public/images/partner1.webp")  no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 350px;
}

.redline{
    height: 160px;
    width: 30px;
    background-color:#EF3E38;
}
.overallpartnerblog{
    margin: 2% ;
}
.marketing{
    display: flex;
}

.top_level{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.partnerrow{
    padding: 20px;
    
   align-items: center;
}
.firstonebox{
    margin-top: 70px;
    margin-bottom: 20px;
}
.partnerphoto img{
    height: 35vh;
    border-radius: 25px;
}
.box1withtext{
    background-color: rgb(214, 212, 212);
    border-radius: 8px;
    padding: 45px;
   
}
.partnerphoto2 img{
    margin-top: 20px;
    border-radius: 25px;
    height: 33vh;
   
}
.firsttow1{
    background-color: red;
    color: white;
    
    
}
/* .slidepoint{
    height: 200px;
    width: 650px;
} */
.slidepointimg{
    height: 200px;
}
.logo-box1{
   
   align-items: center;
   display: flex !important;
   justify-content: center;
   align-items: center;
   height: 200px;
   
}
.infyimg{
   scale: 0.5;
}

.parabullet{
    font-size: 18px
}
.parapiquename{
    font-size: 18px
}

@media (width<=1399px){
  .partnerphoto img{
    margin-top: 10px;
  }
    .box1withtext{
        padding: 30px;
    }
}
@media (width<=1500px){
    .partnerphoto img{
        margin-top: 10px;
        height: 45vh;
    }
    .partnerphoto2 img{
        height: 45vh;
        width: 100%;
    }
}
@media (width<=1199px){
.parabullet{
    font-size: 15px;
}
.partnerphoto img{
    height: 30vh;
    margin-top: 10px;
}
.partnerphoto {
    padding-top: 20px;
}
.partnerphoto2 img{
    margin-top: 15px;
height:95%;
width: 100%;
}
.parapiquename{
    font-size: 15px; 
}
/* .slidepoint{
    width: 500px;
} */
}
@media (width<=991px){
    .top_level{
        grid-template-columns: repeat(1,1fr);
    }
    /* .slidepoint{
       width:700px;
      
    } */
    .partnerphoto img{
      margin-top: 10px;
      width: 110%;
      margin-top: 5px;
    }
    .redline{
        width: 70px;
    }
    .parabullet{
        font-size: 14px;
    }
    .parapiquename
   {
        font-size: 14px;
    }
    .box1withtext{
        padding: 8px;
    }
    .partnerphoto2 img{
        height: 100%;
        margin:0;
    }
}
@media (width<=767px){
    .top_level{
        grid-template-columns: repeat(1,1fr);
    }
    .partnerphoto img{
        height: 100%;
        width: 100%;
       text-align: center;
    }
    .firstonebox{
    text-align: center;
    }
    .partnerphoto{
        text-align: center;
    }
    .partnerphoto2{
        margin-bottom: 20px;
    }
    .logo-box1{
        height: 120px;
    }
    
}
@media (width<=415px){
    .redline{
        width: 70px;
      margin-top: 25px;
        
    }
}
@media (width<=600px){
.imageclinic,.imageclinic1,.imageclinic3{
    height: 200px;
}
}
.slidepointimgbox{
    display: flex;
    justify-content: center;
}
.box1withtexttitle{
    height: 200px !important;
    background-color: rgb(214, 212, 212);
    border-radius: 8px;
    padding: 40px;
}
.slidepointimgboxlogoit{
    display: flex;
    justify-content: center;
    width: 40%;
    padding-top: 25px;

}
.slidepointimgs{
    width: 100%;
}
.titlebox{
    padding-top: 30px;
}
.partnerphototitle img{
    padding-top: 20px;
    
}
.partnerphototitle{
    justify-content: center;
    display: flex;
}
.parapiquename{
    padding-top: 30px;
}
.itfieldtitle{
    padding-top: 40px;
}
.logo-box{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.logo-box img{
    scale: 0.5;
}
.applynow{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
/* Add this to your CSS */

.modals {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(113, 112, 112, 0.5);

  }
  
  .closes {
    float: right;
    cursor: pointer;
    background-color: #939393;
    margin-right: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
  }
  .modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .shows {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);


  }
 
  @media (width<=1600px){
    .test{
        padding-left: 90px;
        padding-top: 40px;
      }
    }
    .firstsideimg{
        border-radius: 20px;
        width: 90%;
    }
.con-img-bac{
    background-color: #EF3E38;
    border-radius: 10px;
    color: #fff;
    padding: 45px;
}